<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>首页</title>
<link rel="shortcut icon" href="favicon.ico">
<!-- <link href="/3rd/bootstrap-3.3.7-dist/css/bootstrap.css"
	th:href="@{/3rd/bootstrap-3.3.7-dist/css/bootstrap.css}" rel="stylesheet"> -->
<link href="/css/index.css" rel="stylesheet">
<head th:include="includes/common :: header"></head>
	
</head>
<body>
	
	<div class="layout">
		<div class="leftSidebar"></div>
		<div class="rightContent">
			<div>
				<audio src="/audio/aoteman.mp3" id="mp3" controls="controls"></audio>
			</div>
			<div>
				<video id="mp4" controls="controls"></video>
			</div>
		</div>
	</div>
	
	<div th:include="includes/common :: footer"></div>
	<div th:include="includes/common :: extension"></div>
	<script type="text/javascript" src="/js/index.js"></script>
	
</body>
</html>