<head th:fragment="header">
	<link rel="shortcut icon" href="/image/favicon.ico">
	<!-- request http in https !!! -->
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<link href="/3rd/sweetalert2-9.3.6/sweetalert2-dark.css" rel="stylesheet">
</head>
<div th:fragment="footer">
	<script src="/3rd/xy/xy2.js" type="text/javascript"></script>
	<script src="/3rd/xy/dom.js" type="text/javascript"></script>
	<script src="/3rd/xy/network.js" type="text/javascript"></script>
	<!-- <script src="/3rd/sweetalert2-9.3.6/sweetalert2.all.js" type="text/javascript"></script> -->
	<script src="/3rd/sweetalert2-9.3.6/sweetalert2.js" type="text/javascript"></script>

	<script type="text/javascript">
		//xy.DEBUG = false;
	</script>
</div>
<div th:fragment="extension">
	<script type="text/javascript">



		function checkXY2Dependencies() {
			if (!$) {
				throw "I need jQuery,you know?";
			}
			if (!xy) {
				throw "I need xy framework(it's my developing js-lib),you know?";
			}
		}

		function XOption(text, value, selected) {
			checkXY2Dependencies();

			let optionStr = `<option value=${value ? value : ''} ${selected ? 'selected' : ''}>
						${text}
					</option>
			`;


			return $(optionStr);
		}

		function GetData(url, data, callback, type = 'post', error) {
			checkXY2Dependencies();
			$.ajax({
				url,
				type,
				data,
				success(d) {
					//console.log(d);
					if (xy.fnExist(callback)) {
						callback(d);
					}
				}
				,
				error
			});
		}



	</script>

</div>
